.Home{
    display: flex;
    justify-content: space-evenly;
}

.Img{
    max-width: 50%;
    background-color: black;
    width: 100%;
    height: 83vh;
    border-radius: 5px;
    background: linear-gradient(to right,transparent 1%, rgb(0, 0, 0));
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Intro{
    margin-top: 10%;
    margin-left: 5%;
    max-width: 50%;
    font-size: 40px;
    color: white;
}
.Intro p{
    margin: 0;
}

.Intro_txt{
    color: white;
    font-size: 20px;
}

.Intro .btns{
    margin-top: 5%;
}

.Intro 
.btns 
.btn_home{
    margin-left: 35px;
    width: 150px;
    height: 40px;
    font-size: 20px;
    border: 1px solid rgb(129, 129, 129);
    color: white;
    outline: none;
    background-color: transparent;
    transition: 0.5s linear;
}
.Intro 
.btns
.btn_home:hover{
    transition: 0.5s linear;
    border: 1.5px solid white;
    box-shadow: 1px 1px 5px rgba(133, 133, 133, 0.699);
}

.ModalHome{
    position: relative;
    width: 30vw !important;
    height: 80vh;
    left: -34%;
}
.ModalHome .ant-modal-content{
    background-color: rgb(27, 27, 27);
    height: 80vh;
}


.linkPage{
    color: white;
    margin-top: 5%;
    display: block;
    font-size: 40px;
}