.Header{
    margin-left: 1%;
    margin-right: 1%;
    color: rgb(204, 204, 204);
    display: flex;
    justify-content: space-between;
}

.Header a{
    text-decoration: none;
    color: whitesmoke;
}

.ativaModal{
    
}

.btnModal{
    margin-top: 20px;
    background-color: transparent;
    border: none;
    font-size: 50px ;
    color: whitesmoke;
}

.ant-modal-content{
    display: block;
}


.contentHeader{
    margin-top: 2% !important;
}

.itensModal{
    display: flex;
    align-items: center;
}